{# templates/venue/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <!-- venues section -->
    <section class="venue_section layout_padding-bottom">
        <div class="container">
            <br>
            <div class="heading_container heading_center">
                <h2>
                    Venues
                </h2>
            </div>

            {# Category filters - you can customize these based on venue types #}
            <ul class="filters_menu">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".theatre">Theatre</li>
                <li data-filter=".hall">Hall</li>
                <li data-filter=".stadium">Stadium</li>
                <li data-filter=".others">Others</li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    {% if venues is empty %}
                        <div class="col-12 text-center">
                            <p>No venues available at the moment.</p>
                        </div>
                    {% else %}
                        {% for venue in venues %}
                            {% set name_lower = venue.name|lower %}
                            <div class="col-sm-6 col-lg-4 all
                                {% if 'theatre' in name_lower %} theatre{% endif %}
                                {% if 'hall' in name_lower %} hall{% endif %}
                                {% if 'stadium' in name_lower %} stadium{% endif %}
                                {% if 'theatre' not in name_lower and 'hall' not in name_lower and 'stadium' not in name_lower %} others{% endif %}
                            ">
                            <a href="{{ path('venue_details', {'id': venue.id}) }}">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            {% if venue.image %}
                                                <img src="{{ asset(venue.image) }}" alt="{{ venue.name }}">
                                            {% else %}
                                                <img src="{{ asset('images/placeholder.jpg') }}" alt="{{ venue.name }}">
                                            {% endif %}
                                        </div>
                                        <div class="detail-box">
                                            <h5>
                                                {{ venue.name }}
                                            </h5>
                                            <p>
                                                {{ venue.address }}
                                            </p>
                                            <div class="options">
                                                <h6>
                                                    {% if venue.capacity %}
                                                        {{ venue.capacity|number_format }} capacity
                                                    {% else %}
                                                        No capacity details
                                                    {% endif %}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}