{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-5">
    <h2>Choose Your Tickets</h2>
    {% if event.imagepath %}
        <img src="{{ asset(event.imagepath) }}" alt="{{ event.name }} image" class="img-fluid rounded mb-3">
    {% endif %}
    <p><strong>{{ event.name }}</strong></p>
    <p><strong>Venue: </strong>{{ event.venue.name }}</p>

    <table>
        <thead>
            <tr>
                <th>Ticket Type</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
        {% for ticket in ticketType %}
            <tr>
                <td>{{ ticket.name }}</td>
                <td>${{ ticket.price|number_format(2) }}</td>
                <td>
                    <select name="quantity_{{ ticket.id }}">
                        {% for i in 0..4 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{ ticket.description }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <a href="{{ path('checkout_page') }}" class="btn btn-success" style="width:20%; bottom: 0; right: 0;">
        Purchase Tickets
    </a>

</div>
{% endblock %}