<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{{asset('images/tickets.png')}}">

    <title> GoTix - Opening Doors to exciting events </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
        crossorigin="anonymous" />
    <!-- font awesome style -->
    <!-- <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" /> -->

    <!-- Custom styles for this template -->
    <link href="{{asset('css/style.css')}}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{{asset('css/responsive.css')}}" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- nice select  -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
        crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />


</head>

<body>
    <header class="header_section dark-navbar shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-dark py-1">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center mb-0" href="/">
                    <img src="{{ asset('images/tickets.png') }}" alt="GoTix Logo"
                        style="height:28px;width:auto;margin-right:8px;">
                    <span class="font-weight-bold text-light" style="font-size:1.3rem; letter-spacing:1px;">GoTix</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item{% if app.request.get('_route') == 'homepage' %} active{% endif %}">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item{% if app.request.get('_route') == 'events' %} active{% endif %}">
                            <a class="nav-link" href="/events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/venues">Venues</a>
                        </li>
                    </ul>
                    <div class="navbar-extra d-flex align-items-center gap-2 ml-lg-3 mt-2 mt-lg-0">
                        <a href="/login" class="btn btn-outline-light btn-sm" title="Login">
                            <i class="fa fa-user"></i>
                        </a>
                        <a class="btn btn-outline-light btn-sm" href="/checkout" title="Cart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <!-- <form class="form-inline d-inline-flex align-items-center mx-2" style="min-width: 0;">
                            <input class="form-control form-control-sm bg-dark text-white border-0" type="search"
                                placeholder="Search" aria-label="Search" style="width:110px; min-width:0;">
                            <button class="btn btn-outline-light btn-sm ml-1" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form> -->
                        <a href="#" class="btn btn-primary btn-sm font-weight-bold ml-2">Order Online</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>

<style>
    .dark-navbar {
        background: rgba(18, 18, 22, 0.952);
        /* dark with opacity for blending */
        backdrop-filter: blur(6px);
        /* glass effect */
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 1000;
        border-bottom: 1px solid rgba(3, 3, 3, 0.07);
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar-extra .btn,
    .navbar-extra form {
        margin-bottom: 0 !important;
    }

    .navbar-extra {
        gap: 0.5rem;
    }

    @media (max-width: 991.98px) {
        .navbar-nav {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .navbar-extra {
            flex-direction: column;
            align-items: flex-start !important;
            gap: 0.5rem;
            width: 100%;
            margin-top: 1rem;
        }

        .navbar-extra form {
            width: 100%;
            margin: 0;
        }

        .navbar-extra .btn,
        .navbar-extra .form-inline {
            width: 100%;
        }
    }

    .navbar .navbar-brand span {
        color: #fff;
        font-weight: 700;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
        /* makes text readable */
    }

    .navbar .nav-link {
        color: #f1f1f1 !important;
        font-weight: 500;
        transition: color 0.2s;
    }

    .navbar .nav-link.active,
    .navbar .nav-link:hover {
        color: #ffcc00 !important;
        /* highlight color */
    }

    .btn-outline-light {
        border-color: #fff;
        color: #fff;
    }

    .btn-outline-light:hover {
        background: #fff;
        color: #222;
    }

    .btn-primary.btn-sm {
        background: #ffcc00;
        border: none;
        color: #222;
        font-weight: bold;
    }
</style>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Google Map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script> -->